body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  background-image:url(./img/ice-frozen-lake-3367931.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

a.btn-secondary {
  background-color: transparent;
}

.share-item {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

.share-list {
  font-size: 1.3rem;
}

.share-item a {
  color: #6F9AAA;
}
